body {
    max-width: 50%;
    margin: 0 auto;
    line-height: 1.5;
    font-family: 'FiraMonoMedium';
    color: #2e3440;
    background-color: white;
}

/* Site brand */
.banner {
    margin: 1.25rem auto 1rem;
    text-align: center;
}
.banner a {
    display: inline-block;
    margin: 0;
    font-size: 1.25rem;
    color: inherit !important;
    text-decoration: none;
}
.banner a:before {
    content: ":: ";
}
.banner a:after {
    content: " ::";
}

/* Content */
h1, h2 {
    margin: 1rem 0 0.5rem;
}
h1:before, h2:before {
    content: "# ";
}
h1 {
    font-size: 1.75rem;
}
h2 {
    font-size: 1.25rem;
}
h3 {
    margin: 1rem 0 0.25rem;
    font-size: 1.125rem;
}
p {
    margin: 0 0 1rem;
    text-align: justify;
    word-wrap: break-word;
    word-break: break-word;
}
a, a:visited {
    text-decoration: none;
    color: #5e81ac;
}
pre, blockquote {
    overflow-x: auto;
    display: block;
    margin: 0 0.5em 1rem;
}
pre {
    padding: 0.75rem 0.75rem;
    background: #eceff4;
    border: 2px dotted #2e3440;
}
code {
    background: #eceff4;
    padding: 0.1rem 0.25rem;
    font-family: "FiraMonoMedium";
    font-size: 0.9rem;
}
blockquote {
    padding-left: 0.75rem;
    color: #4c566a;
    border-left: 0.35rem solid #e5e9f0;
}
blockquote p {
    margin: 0;
}
ul {
    padding-left: 1.25rem;
}
ul li {
    list-style-type: "- "
}
.katex-display {
    font-size: 1.1rem !important;
    overflow-x: auto;
    overflow-y: hidden;
}
header, address {
    margin: 0.75rem 0 0.5rem 2rem;
    float: right;
    font-style: unset;
}
header:before, address:before {
    content: "[ ";
}
header:after, address:after {
    content: " ]";
}
img {
    display: block;
    max-width: 95%;
    margin: 1rem auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px dotted #2e3440;
    table-layout: fixed;
    margin-bottom: 1rem;
}
thead {
    background-color: #eceff4;
    font-style: bold;
}
thead, tbody {
    border: inherit;
}
th, tr, td {
    text-align: center;
    border: inherit;
    padding: 0.25rem;
}

/* Navigation */
nav {
    margin: 1rem 0;
    display: block;
    text-align: center;
}
nav a:before{
    content: "< ";
}
nav a:after{
    content: " >";
}

/* Footer */
footer {
    margin: 1.25rem 0;
    padding-top: 0.75rem;
    border-top: 2px dashed #2e3440;
}
footer p {
    text-align: center;
    font-size: small;
    margin: 0;
}

/* Dark theme */
@media only screen and (prefers-color-scheme: dark) {
    body {
        background-color: #2e3440;
        color: #eceff4;
    }
    blockquote {
        color: #d8dee9;
        border-color: #4c566a;
    }
    a, a:visited {
        color: #88c0d0;
    }
    hr, pre, header, footer, table {
        border-color: #eceff4 !important;
    }
    pre, thead, code {
        background: #434c5e;
    }
}

/* Print style */
@media print {
    html {
        font-size: 87.5%;
    }
    body {
        max-width: 100%;
        color: #000000;
    }
    .banner, nav, footer  {
        display: none;
    }
}

/* Responsive */
@media only screen and (max-width: 1600px) {
    body {
        max-width: 60%;
    }
}
@media only screen and (max-width: 1300px) {
    body {
        max-width: 70%;
    }
}
@media only screen and (max-width: 1000px) {
    table {
        display: block;
        overflow-x: auto;
    }
    body {
        max-width: 80%;
    }
}
@media only screen and (max-width: 760px) {
    html {
        font-size: 95%;
    }
    body {
        max-width: 90%;
    }
    nav {
        display: grid;
    }
    header, address {
        float: none;
        display: inline-block;
        margin-top: 0.5rem;
        margin-bottom: 0;
        margin-left: 0;
        padding-bottom: 0.25rem;
        border-bottom: 2px dashed #2e3440;
    }
}
