{% extends "base.html" %}

{% block body %}
<header>
<h1>{{ document.meta['title'] }}</h1>
{% if document.meta['repository'] %}
<a href="{{ document.meta['repository'] }}" target="_blank">Repository</a> -
{% endif %}
{{ document.meta['date'] }} by <a href="
{% if document.meta['author_site'] %}
{{ document.meta['author_site'] }}
{% else %}
/
{% endif %}
">{{ document.meta['author'] }}</a>
</header>
<article>
{{ document.content }}
</article>
<nav>
<button><a href="..">Go back</a></button>
</nav>
{% endblock %}
