{% extends "base.html" %}

{% block head %}
<base href="{{ '/' + document.dirname + '/'}}">
{% endblock %}

{% block body %}
<header>
<h1>{{ document.meta['title'] }}</h1>
{% if document.meta['repository'] %}
<a href="{{ document.meta['repository'] }}">Repository</a> -
{% endif %}
{{ document.meta['date'] }} by <a href="
{% if document.meta['author_site'] %}
{{ document.meta['author_site'] }}
{% else %}
/
{% endif %}
">{{ document.meta['author'] }}</a>
</header>
<article>
{{ document.content }}
</article>
<nav>
<button><a href="../">Go back</a></button>
</nav>
{% endblock %}
