<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ meta['title'] }} :: Piotr Machura</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="{{ meta['description'] }}">
<link rel="shortcut icon" href="/res/favicon.ico">
<link rel="stylesheet" type="text/css" href="/res/styles.css">
<link rel="stylesheet" href="/res/katex.min.css">
<script defer src="/res/katex.min.js"></script>
<script defer src="/res/auto-render.min.js"onload="renderMathInElement(document.body);"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
  renderMathInElement(document.body, {
    delimiters: [
      {left: '$$', right: '$$', display: true},
      {left: '$', right: '$', display: false},
    ],
    throwOnError : false
  });
});
</script>
</head>
<body>
<div class="banner" role="landmark">
<a href="/">Piotr Machura</a>
</div>
{% block content %}
{% endblock %}
<nav>
{% block nav %}
{% endblock %}
</nav>
<footer>
<p>© Piotr Machura 2021.<br>
Source: <a href="https://mit-license.org/">MIT</a>. Content: <a href=
"https://creativecommons.org/licenses/by/4.0/">CC BY</a>.</p>
</footer>
</body>
</html>
