<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ code }} :: Piotr Machura</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="HTTP error code {{ code }}">
<link rel="shortcut icon" href="/res/favicon.ico">
<link rel="stylesheet" media="screen" type="text/css" href="https://fontlibrary.org//face/fira-mono">
<link rel="stylesheet" media="screen" type="text/css" href="/res/styles.css">
</head>
<body>
<div class="banner">
<a>{{ code }}</a>
</div>
{% if redirect %}
<nav>
<a href="/" >Home</a>
</nav>
{% endif %}
</body>
</html>
