<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hello, world!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="">
  <!-- Font and style -->
  <link rel="stylesheet" media="screen" type="text/css" href="https://fontlibrary.org//face/fira-mono">
  <link rel="stylesheet" media="screen" type="text/css" href="styles.css">
  <!-- KaTex rendering -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.css" integrity=
  "sha384-Um5gpz1odJg5Z4HAmzPtgZKdTBHZdw8S29IecapCSB31ligYPhHQZMIlWLYQGVoc" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.js" integrity=
  "sha384-YNHdsYkH6gMx9y3mRkmcJ2mFUjTd0qNQQvY9VYZgQd7DcN7env35GzlmFaZ23JGp" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/contrib/auto-render.min.js" integrity=
  "sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous" onload=
  "renderMathInElement(document.body);"></script>
</head>
<body>
  <nav><p><a href="/index.html">Piotr Machura</a></p></nav>
  <content>
    <h1>Content header</h1>
    <p>Hi!</p>
    <h2>Smaller</h2>
    <p>hello!</p>
    <h3>Smallest</h3>
    <p>hello again!</p>
  </content>
  <footer>
    <hr>
    <p>© Piotr Machura 2021.</p>
    <p>Source: MIT. Content: CC BY 4.0.</p>
  </footer>
</body>
</html>
