<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hello, world!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="">
  <!-- Font and style -->
  <link rel="stylesheet" media="screen" type="text/css" href="https://fontlibrary.org//face/fira-mono">
  <link rel="stylesheet" media="screen" type="text/css" href="styles.css">
  <!-- KaTex rendering -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.css" integrity=
  "sha384-Um5gpz1odJg5Z4HAmzPtgZKdTBHZdw8S29IecapCSB31ligYPhHQZMIlWLYQGVoc" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.js" integrity=
  "sha384-YNHdsYkH6gMx9y3mRkmcJ2mFUjTd0qNQQvY9VYZgQd7DcN7env35GzlmFaZ23JGp" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/contrib/auto-render.min.js" integrity=
  "sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous" onload=
  "renderMathInElement(document.body);"></script>
</head>
<body>
  <h1>Hello, world!</h1>
  <p><b>Bold</b> and <i>italic</i> and math \(x=y\)</p>
  <h2>Lorem ipsum follows</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare arcu diam, sit amet imperdiet magna iaculis
  et. Praesent porttitor pulvinar quam, eu tincidunt ipsum scelerisque sed. Donec nec leo vitae sem lacinia fringilla
  in a odio. Sed id dolor leo. Mauris feugiat faucibus lobortis. Sed at auctor lectus. Vivamus eleifend, lorem eu
  placerat tristique, diam tellus vestibulum elit, nec imperdiet turpis nibh venenatis magna. Cras eu quam tristique,
  fringilla mi quis, auctor dui. Pellentesque non neque in elit sodales tincidunt. Sed dignissim mauris id lorem
  tincidunt, et vulputate neque vestibulum. Etiam vel augue sed libero placerat tincidunt id nec lectus. Mauris a
  tellus porta, ultrices enim ut, egestas velit. Maecenas et elit in arcu rhoncus hendrerit. Etiam venenatis porttitor
  justo sed egestas. Nam a tincidunt orci. Praesent id tellus ut tortor tincidunt finibus ac eu lacus. Praesent mattis
  metus id libero mattis iaculis. Pellentesque eget vehicula lorem. Nullam dapibus blandit risus, ut tristique massa
  sagittis ut. In cursus ac metus ut scelerisque. Proin quis ultricies erat. Pellentesque aliquam, eros in euismod
  condimentum, nunc est porta enim, eget maximus nulla est nec sem. Cras vulputate nisl lacus, non molestie metus
  placerat non. Mauris posuere nisi non neque ultrices mollis. Sed eget lacinia massa. Fusce ut nibh sed eros
  vestibulum viverra a vel libero. Maecenas a elit ac urna consequat posuere. Aenean lobortis urna id lectus vehicula,
  sed imperdiet diam ornare. Quisque sed lectus id sem aliquam congue. Sed viverra bibendum lorem sed luctus. Sed at
  nisl sit amet quam lobortis volutpat porta varius orci. Vestibulum faucibus vel lorem et dictum. Ut mattis malesuada
  sagittis. In hac habitasse platea dictumst. Nunc vitae accumsan dui, quis vehicula orci. Aliquam pulvinar lobortis
  tellus, ac consectetur sem ultrices ut. Etiam ac laoreet massa. Suspendisse sit amet feugiat elit. Fusce non felis at
  lacus scelerisque mattis. Pellentesque nunc erat, consequat non tristique quis, tempor vitae libero. Morbi fermentum
  lacinia mauris id tempor. Duis quam velit, condimentum vitae leo sit amet, pellentesque rutrum urna. Nam congue
  tellus ac vulputate fermentum. Pellentesque sodales, nibh vitae vulputate malesuada, libero turpis tristique erat,
  porttitor gravida lacus odio a turpis. Aliquam in risus viverra, mattis augue ut, ultricies justo. Quisque rutrum
  porta sapien, id tristique velit auctor vitae. Aliquam at mi malesuada, molestie velit vel, pulvinar lacus. Nunc ac
  posuere arcu, at pellentesque ligula. Quisque non felis id lectus tincidunt semper at id magna. Mauris ac ultricies
  tellus. Vivamus vulputate nulla quis ante rhoncus, tincidunt ultrices justo efficitur. Donec est mi, efficitur non
  volutpat sit amet, commodo non elit. Mauris non neque vel turpis varius lacinia ut et ipsum. Vestibulum semper metus
  vel scelerisque cursus. Suspendisse at leo lacinia, lobortis justo a, condimentum risus. Praesent eu quam magna. In
  dictum, nisi id suscipit tristique, lectus felis pellentesque felis, id tempus augue nibh in lectus. Duis sodales
  accumsan augue, mollis posuere urna dictum nec.</p>

  <h3>Math?</h3>
  <p>\[ f (x) = \int_{-\infty}^\infty \hat f ( \xi ) e^{2 \pi i \xi x} d\xi \]</p>
</body>
</html>
